// colours
$ce-soir: #9565A2;
$lighter-ce-soir: #D3B5E3;
$darker-ce-soir: #6e4a7b;
$black-ce-soir: #2f1d36;
$persian-pink: #F384BE;
$lighter-persian-pink: #FFE8F3;

// sizes
$small-label-text-size: 0.625rem;