// colours
$ce-soir: #9565A2;
$lighter-ce-soir: #D3B5E3;
$darker-ce-soir: #6e4a7b;
$persian-pink: #F384BE;
$lighter-persian-pink: #FFE8F3;

$success-bg-color: #81C784;
$error-bg-color: #FF5722;

// sizes
$small-label-text-size: 0.625rem;
$notification-padding: 1rem;
$notification-line-height: 1.5rem;
$notification-border-radius: 5px;