@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './_variables.scss';

// NavBar component
.navbar {
  background-color: $ce-soir;
  &--width {
    width: 1200px;
  }
}

// Home component
.text-container--max-width {
  width: 700px;
}

// Shared styles
.section {
  &-container {
    &--min-height {
      min-height: 75vh;
    }
    &--max-height {
      max-height: 75vh;
    }
    &--max-width {
      max-width: 900px;
    }
  }
}

.text {
  &--persian-pink {
    color: $persian-pink;
  }
  &--ce-soir {
    color: $ce-soir;
  }
  &--darker-ce-soir {
    color: $darker-ce-soir
  }
}

.theme {
  &--dark {
    background-color: $black-ce-soir;
    color: white;
  }
  &--light {
    background-color: $pinkish-red;
  }
}

.background {
  &--lighter-persian-pink {
    background-color: $lighter-persian-pink;
  }
  &--lighter-ce-soir {
    background-color: $lighter-ce-soir;
  }
  &--darker-ce-soir {
    background-color: $darker-ce-soir;
  }
  &--black-ce-soir {
    background-color: $black-ce-soir;
  }
  &--ce-soir {
    background-color: $ce-soir;
    &:hover {
      background-color: $darker-ce-soir;
    }
  }
}

.focus-ring-ce-soir {
  &.focus {
    border-color: $darker-ce-soir;
    box-shadow: 0 0 0 3px $darker-ce-soir;
  }
}

.border-ce-soir {
  border-color: $darker-ce-soir;
}

.focus-ring-ce-soir {
  border-color: $darker-ce-soir;
  box-shadow: 0 0 0 3px $darker-ce-soir;
}

.border-ce-soir {
  border-color: $darker-ce-soir;
}

.label {
  &--small {
    font-size: $small-label-text-size;
  }
}

.border {
  &--ce-soir {
    border-radius: 5px;
    border-color: $ce-soir;
  }
}
