@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './_variables.scss';

ul {
  list-style: none;
}

/* navbar */
.navbar {
  background-color: $ce-soir;
  grid-template-columns: 1.5fr 3fr 0fr
}


/* ul  */
.navMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* media queries for navbar */
@media screen and (max-width: 810px){
  .navbar {
    grid-template-columns: 2fr 0.3fr 0.3fr
  }

  .nav-section {
    display: block;
  }

  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
        background-color: #120f0b;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  /* navMenu */
  .navMenu{
    position: absolute;
    top: 49px;
    flex-direction: column;
    gap: 0;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: $ce-soir;
    padding: 10px;
  }

  .navMenu.active{
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }
}

// Home component
.text-container--max-width {
  width: 700px;
}

// Shared styles
.section {
  &-container {
    &--min-height {
      min-height: 75vh;
    }
    &--max-height {
      max-height: 75vh;
    }
    &--max-width {
      max-width: 900px;
    }
  }
}

.text {
  &--persian-pink {
    color: $persian-pink;
  }
  &--ce-soir {
    color: $ce-soir;
  }
  &--darker-ce-soir {
    color: $darker-ce-soir
  }
}

.theme {
  &--dark {
    background-color: $black-ce-soir;
    color: white;
  }
  &--light {
    background-color: $pinkish-red;
  }
}

.background {
  &--lighter-persian-pink {
    background-color: $lighter-persian-pink;
  }
  &--lighter-ce-soir {
    background-color: $lighter-ce-soir;
  }
  &--darker-ce-soir {
    background-color: $darker-ce-soir;
  }
  &--black-ce-soir {
    background-color: $black-ce-soir;
  }
  &--ce-soir {
    background-color: $ce-soir;
    &:hover {
      background-color: $darker-ce-soir;
    }
  }
}

.focus-ring-ce-soir {
  &.focus {
    border-color: $darker-ce-soir;
    box-shadow: 0 0 0 3px $darker-ce-soir;
  }
}

.border-ce-soir {
  border-color: $darker-ce-soir;
}

.focus-ring-ce-soir {
  border-color: $darker-ce-soir;
  box-shadow: 0 0 0 3px $darker-ce-soir;
}

.border-ce-soir {
  border-color: $darker-ce-soir;
}

.label {
  &--small {
    font-size: $small-label-text-size;
  }
}

.border {
  &--ce-soir {
    border-radius: 5px;
    border-color: $ce-soir;
  }
}
