@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './_variables.scss';

// NavBar component
.navbar {
  background-color: $ce-soir;
}

// Home component
.text-container--max-width {
  width: 700px;
}

// Shared styles
.text {
  &--persian-pink {
    color: $persian-pink;
  }
}

.background {
  &--lighter-persian-pink {
    background-color: $lighter-persian-pink;
  }
  &--lighter-ce-soir {
    background-color: $lighter-ce-soir;
  }
}

.label {
  &--small {
    font-size: $small-label-text-size;
  }
}

.border {
  &--ce-soir {
    border-radius: 5px;
    border-color: $ce-soir;
  }
}
